torch
transformers
accelerate
huggingface-hub
langchain
langchain-core
langchain-community
pypdf
sentence-transformers
beautifulsoup4
langserve[all]
chromadb
langchain-chroma
faiss-cpu
rapidocr-onnxruntime
unstructured
fastapi
uvicorn
requests
feedparser
ipykernel
streamlit
langchain-openai
langchain_ollama